<% if @current_user %>
<div class="container">
  <h2>Profile Details</h2>
  <p>Username: <%= @current_user.username %></p>
  <p>First Name: <%= @current_user.fname %></p>
  <p>Last Name: <%= @current_user.lname %></p>
  <p>Email: <%= @current_user.email %></p>
  <p>Description: <%= @current_user.description %></p>
  <a href="/signup"><button type="button" class="update">Update</button></a>
  <h2>Current people you are following</h2>

  <% @current_user.get_followers.each do |follower| %>
  <%= follower %>
  <% end %>

</div>
<% else %>
<div class="container">
  <h1>You are not signed in</h1>
  <p>Click <a href="/">Here</a> to Sign In</p>
</div>
<% end %>
