<% if @current_user %>
<div class="container">
  <h2>Welcome <%= @current_user.fname %>!</h2>
  <!-- display users followING feed -->
</div>

<div class="container">
   <form action="microsubmit" method="post" id="microsubmit">
    <p>Title: <input type="text" name="title"></p>
    <p>Blog: (150 character limit)<textarea rows="10" cols="50" name="microblog" form="microsubmit" maxlength="150"></textarea></p>
    <p><input type="submit" value="Post"></p>
  </form>
</div>

  <% @posts.first(10).each do |p| %>
    <div class="posts">
      <h3><%= p.title %></h3>
      <p><%= p.body %></p>
      <p><%= p.created %></p>
      <form method="POST" action="/direct_to_other_user_profile">
        <input type="hidden" name="other_user_id" value="<%= p.user.id %>">
        <button type="submit" class="button"><%= p.user.username %></button>
      </form>
      <!-- BILL, you may uncomment the below to see the follow/unfollow working, but ultimately i want it on the users' profile page -->
      <!-- <% if Follower.where(followed: @current_user.id, following: p.user_id).empty? %>
        <form method="POST" action="/follow">
          <input type="hidden" name="following" value="<%= p.user.id %>">
          <input type="hidden" name="followed" value="<%= @current_user.id %>">
          <button type="submit" class="button">Follow</button>
        </form>
      <% else %>
        <form method="POST" action="/unfollow">
          <input type="hidden" name="following" value="<%= p.user.id %>">
          <input type="hidden" name="followed" value="<%= @current_user.id %>">
          <button type="submit" class="button">Unfollow</button>
        </form>
      <% end %> -->
    </div>
  <% end %>
<% else %>
<div class="container">
  <h1>Welcome to Philly</h1>
  <!-- display list of ten most recent blog feeds -->
</div>
  <% @posts.first(10).each do |p| %>
    <div class="posts">
      <h3><%= p.title %></h3>
      <p><%= p.body %></p>
      <p><%= p.user.username %></p>
    </div>
  <% end %>
<% end %>
