<% if @current_user %>
  <div class="profile">
    <h2>Hello <%= @current_user.fname %></h2>
    <p><%= @current_user.description %></p>
    <a href="/account">Account Details</a>
  </div>
  <ul class="blogs-follows">
    <li><button type="button" class="blogbutton">Your Blogs</button></li>
    <li><button type="button" class="followerbutton">Followers</button></li>
    <li><button type="button" class="followingbutton">Following</button></li>
  </ul>
  <div class="posts-follows">
    <div class="new-posts">
      <h3>What's Happening?</h3>
      <form action="microsubmit" method="post" id="microsubmit">
        <p>Title: <input type="text" name="title"></p>
        <p>Blog: <textarea rows="3" cols="30" name="microblog" form="microsubmit"></textarea></p>
        <p><input type="submit" value="Post"></p>
      </form>
    </div>
    <% @user_posts.first(10).each do |p| %>
      <div class="old-posts">
        <h3><%= p.title %></h3>
        <p>"<%= p.body %>"</p>
        <form method="POST" action="/postcrud">
          <input type="hidden" name="postid" value="<%= p.id %>">
          <button type="submit" class="postcrud">Update</button>
        </form>
      </div>
    <% end %>
  </div>

  <div class="followers">
    <h2>Followers</h2>
    <% @current_user.get_followers.each do |f| %>
      <div>
        <p><%= f %></p>
      </div>
    <% end %>
  </div>

  <div class="following">
    <h2>Following</h2>
    <% @current_user.get_following.each do |f| %>
      <div>
        <p><%= f %></p>
      </div>
    <% end %>
  </div>

<% else %>

<div class="container">
  <h1>You are not signed in</h1>
  <p>Sign In</p>
  <h4>OR</h4>
  <p>Sign Up <a href="/signup">Here</a></p>
</div>
<% end %>
