<% if @current_user %>
  <div class="profile">
    <h2>Hello <%= @current_user.fname %></h2>
    <p><%= @current_user.description %></p>
    <!-- display users followING feed -->
  </div>
    <!-- display a text box to 'post' blogs at top, with display of all blogs authored by user -->
  <div class="posts-follows">
    <div class="new-posts">
      <h3>What's Happening?</h3>
      <form action="microsubmit" method="post" id="microsubmit">
        <p>Title: <input type="text" name="title"></p>
        <p>Blog: <textarea rows="3" cols="30" name="microblog" form="microsubmit"></textarea></p>
        <p><input type="submit" value="Post"></p>
      </form>
    </div>
    <div class="old-posts">
      <% @user_posts.first(10).each do |p| %>
        <div>
          <h3><%= p.title %></h3>
          <p>"<%= p.body %>"</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="posts-follows">
    <h2>Followers</h2>
    <% @current_user.get_followers.each do |f| %>
      <div class="followers">
        <p><%= f %></p>
      </div>
    <% end %>
  </div>

  <div class="posts-follows">
    <h2>Following</h2>
    <% @current_user.get_following.each do |f| %>
      <div class="followers">
        <p><%= f %></p>
      </div>
    <% end %>
  </div>

<% else %>

<div class="container">
  <h1>You are not signed in</h1>
  <p>Sign In</p>
  <h4>OR</h4>
  <p>Sign Up <a href="/signup">Here</a></p>
</div>
<% end %>
