<% if @current_user %>
<div class="container">
  <h2><%= @current_user.username %></h2>
  <p>"<%= @current_user.description %>"</p>
  <!-- display a text box to 'post' blogs at top, with display of all blogs authored by user -->
  <div class="container">
    <form action="microsubmit" method="post" id="microsubmit">
      <p>Title: <input type="text" name="title"></p>
      <p>Blog:(150 characters limit) <textarea rows="3" cols="30" name="microblog" form="microsubmit" maxlength="150"></textarea></p>
      <p><input type="submit" value="Post"></p>
    </form>
  </div>
</div>
<% @user_posts.first(10).each do |p| %>
  <div class="posts">
    <h3><%= p.title %></h3>
    <p><%= p.body %></p>
    <p><%= p.user.username %></p>
  </div>
<% end %>
<% else %>
<div class="container">
  <h1>You are not signed in</h1>
  <p>Sign In</p>
  <h4>OR</h4>
  <p>Sign Up <a href="/signup">Here</a></p>
</div>
<% end %>
